:root {
    --text-color: #045fbd;
    --background-color: #a6d6f0;
    --box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.modal {
    color: var(--text-color);
    min-width: 1000px;
    box-shadow: var(--box-shadow);

}

.ant-modal-component {
    background-color: red;
}