:root {
    --font-family: "Nunito", sans-serif;
    --page-background-color: #aad3ff;
    --custom-dark-blue: #004a8c;
}

.page {
    font-family: var(--font-family);
    background-color: var(--page-background-color);
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: var(--page-background-color);
}

.title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 800;
    color: var(--custom-dark-blue);
    margin-left: 20px;
}

.logoAndTitleContainer {
    font-family: var(--font-family);
}

.btnRoundedLight {
    color: white;
    background-color: var(--custom-dark-blue);
    border-color: var(--custom-dark-blue);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 20px;
    width: 250px;
}

.btnRoundedLight:active {
    background-color: gray;
    outline-color: var(--custom-dark-blue);
    color: whitesmoke;
}

.footer {
    background-color: var(--page-background-color);
}

.authorDescription {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--custom-dark-blue);
}