:root {
	--text-color: #045fbd;
	--background-color: #a6d6f0;
	--box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

/* global modal style */
:where(.css-dev-only-do-not-override-dkbvqv).ant-modal .ant-modal-content {
	background-color: var(--background-color);
	color: var(--text-color);
	box-shadow: var(--box-shadow);
}

.content_padding {
	padding: 0;
	margin: 0;
}

@media print {

	/* Hide everything */
	body * {
		visibility: hidden;
	}

	/* Show the Printing component */
	body .printing-component * {
		visibility: visible;
	}

	/* Position the Printing component on top */
	body .printing-component {
		position: absolute;
		top: 0;
	}

	body .print-hospital-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0px;
		padding: 0px;
		font-size: 16px !important;
		line-height: 16px !important;
	}

	body .print-title {
		font-size: 16px !important;
	}

	body .print-patient-details {
		font-size: 16px !important;
	}

	body .print-physio-file-data {
		font-size: 16px !important;
	}

	body .print-therapeut {
		font-size: 16px !important;
	}

	body .print-date-of-print {
		font-size: 16px !important;
	}

	body .print-gcs {
		font-size: 16px !important;
	}

	body .print-mmt {
		font-size: 16px !important;
	}

}